// Подключаем шрифты
@import '_fonts';

// Подключаем библиотеки
@import '_libs';

// ОБЪЯВЛЯЕМ ПЕРЕМЕННЫЕ
$defFont: "MyFont", sans-serif;


/* =================================== */
/*	Basic Style 
/* =================================== */
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: rgba(0,0,0,.25);
  border-color: rgba(0,0,0,.25);
}

body {
  position: relative;
  min-width: 320px;
  line-height: 1.75;
  font-size: 16px;
  font-family: $defFont;
  color: #000;
  overflow-x: hidden;
  opacity: 1;
}

section {
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
  
p {
  margin: 0;
}
 
a {
	text-decoration: none;
  color: #000;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

/* =================================== */
/*	Общие стили 
/* =================================== */

.container {
  width: 97%;
  max-width: 1300px;
  margin: 0 auto;
}

.content {
  width: 97%;
  max-width: 900px;
  margin: 0 auto;
}

.parallax {
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}


/* =================================== */
/*	Начало верстки 
/* =================================== */

// Подключаем стили секци header
@import '_sections/_header';

// Подключаем стили секци footer
@import '_sections/_footer';

/* =================================== */
/*	Конец верстки 
/* =================================== */

// Подключаем медиа запросы, всегда в конце
@import '_media';